<header id="head">
	<div class="container">
		<div class="row">
			<h1 class="lead">Psychological aid for </br> Individuals, Couples, & Families</h1>
			<p class="tagline">Today you are one step closer to a new you where you feel empowered and on </br> a positive path to growth and well-being. Please call or email us to schedule your intake  <a href="#">appointment today.</a></p>
			<p><a href="#/moreinfo" class="btn btn-action btn-lg" role="button">MORE INFO</a></p>
		</div>
	</div>
</header>
<div class="container text-center">
	<br> <br>
	<h2 class="thin">You're one step closer... to a brand new you.</h2>
	<p class="text-muted">
		As a Humanistic practice, our goal is to help you uncover your true potential and lead a life that is worth celebrating. We are a practice of clinical psychologists, therapists, life coaches, and certified divorce mediators who will work with you to better understand and resolve challenges in your life. By applying complementary assessment, therapy, and supportive approaches, we will help you to discover your path to a more fulfilling and meaningful life.
	</p>
</div>
<div class="jumbotron top-space">
	<div class="container">
		<h3 class="text-center thin">Services Provided</h3>
		<div class="row">
			<div class="col-md-4 col-sm-6 highlight">
				<div class="h-caption"><h4><i class="fa fa-user-md fa-5"></i>Open Discussions</h4></div>
				<div class="h-body text-center">
					<p>Sharing thoughts, experiences and queries in a open setting so that everybody gets benefitted.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 highlight">
				<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Individual Therapy</h4></div>
				<div class="h-body text-center">
					<p>Empathising with the client so that, can think in their perspective to guide better solving one's problem.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 highlight">
				<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Relaxation Sessions</h4></div>
				<div class="h-body text-center">
					<p>Using some musculer relaxation techniques in order to give relief to different parts of the body from the day to day stress, which was shared by the brain.</p>
				</div>
			</div>
			</div> <!-- /row  -->
		</div>
	</div>
	<div class="container">
		<h2 class="text-center top-space">Common Questions</h2>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<h3>What is the difference between psychologist and psychiatrist?</h3>
				<p>Psychiatrist is a medical practitioner who treats the illness with the help of drugs inorder to fix the physiology of brain. Where as psychologist is the practitioners who gives insight into the problem or illness by gathering some information from the client or his or her guardians and help the person in the process of problem solving. </p>
			</div>
			<div class="col-sm-6">
				<h3>Do I need counselling?</h3>
				<p>
					Counselling is a goal oriented conversation between a client and a therapist.
				<br>An individual who thinks they need to be more stronger and matured emotionally and who thinks they need to have stronger inter personal relationships. who thinks they should get more clearity about them selves and who thinks they are always misunderstood by the society and who thinks they are not loved by anybody are avoided by everybody and so on....... means everybody needs counselling including a psychologists themselves in order to lead a better life.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h3>How to get grip over our emotions?</h3>
				<p>
					some times we just want to express ourselves but we suddently brakedown and cry. Sometimes we just want to defend ourselves but end up with shouting at others. Most of the times we fail to put our feelings into words. All these are because of lack of knowledge over our true feeling. Self introspection is the only way to know our selves and knowing oueselves is the only way to get grip over our emotion.
				</p>
			</div>
		</div>
	</div>
	<!-- <div ng-controller="mainController as mainCtrl" id="slides_control">
		<div>
	      <carousel interval="myInterval">
	        <slide ng-repeat="slide in slides" active="slide.active">
	          <img ng-src="{{slide.image}}">
	          
	        </slide>
	      </carousel>
	    </div>
	</div> -->