<section id="content-3-10" class="content-block data-section nopad content-3-10">
<div class="image-container col-sm-6 col-xs-12 pull-left">
  <div class="background-image-holder">
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
      <div>
        <h3>About Us</h3>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero scelerisque ligula sagittis faucibus eget quis lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p>Duis eu libero scelerisque ligula sagittis faucibus eget quis lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
      <a href="#gallery" class="btn btn-outline btn-outline outline-dark">Gallery</a>
    </div>
    </div><!-- /.row-->
    </div><!-- /.container -->
  </section>