<div ng-controller="mainController">
  <section class="banner" role="banner" id="home">
      <header id="header" class="fixed">
        <div class="header-content clearfix"> <a class="logo" href="index.html">Yathiraj</a>
        <nav class="navigation" role="navigation">
          <ul class="primary-nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#intro">designes</a></li>
            <li><a href="#services">Arts</a></li>
            <li><a href="#content-3-10">About</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <!-- <li><a href="#teams">Friends</a></li> -->
            <!-- <li><a href="#testimonials">Testimonials</a></li> -->
            <!-- <li><a href="#contact">Contact</a></li> -->
          </ul>
        </nav>
        <a href="#" class="nav-toggle">Menu<span></span></a> </div>
      </header>
      <!-- banner text -->
      
      <div id="first-slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
              <div class="row"><div class="container">
                <!-- <div class="col-md-9 text-left">
                  <h3 data-animation="animated bounceInDown">Techical Trends</h3>
                  <h4 data-animation="animated bounceInUp">Get our latest 2018 Collection </h4>
                </div> -->
              </div></div>
            </div>
            <!-- Item 2 -->
            <div class="item slide2">
              <div class="row"><div class="container">
                <!-- <div class="col-md-7 text-left">
                  <h3 data-animation="animated bounceInDown">Innovative minds</h3>
                  <h4 data-animation="animated bounceInUp">Create beautiful slideshows </h4>
                </div> -->
              </div></div>
            </div>
            <!-- Item 3 -->
            <div class="item slide3">
              <div class="row"><div class="container">
                <!-- <div class="col-md-7 text-left">
                  <h3 data-animation="animated bounceInDown">Software solutions</h3>
                  <h4 data-animation="animated bounceInUp">Bootstrap Image Carousel Slider</h4>
                </div>   -->
              </div></div>
            </div>
          </div>
          <!-- End Wrapper for slides-->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
          </a>
        </div>
      </div>
  </section>
</div>
