<section id="Bride_Groom">
      <div class="container">
        
        <div class="row">
          <div class="section-header">
            <h2 class="wow fadeInDown animated">Design Trends</h2>
            <p class="wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
          </div>
          <div id="content24" data-section="content-24" class="data-section">
            <div class="col-md-4">
              
              <img src="images/img1.jpg" alt="bride" class="img-middle"/>
              <div class="align-center">
                <h4>Women's Fashion</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                <a href="details.html" class="morebtn">More</a>
              </div>
            </div>
            <div class="col-md-4">
              <img src="images/img2.jpg" alt="bride" class="img-middle"/>
              <div class="align-center">
                <h4>Men's Fashion</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                <a href="details.html" class="morebtn">More</a>
              </div>
            </div>
            <div class="col-md-4">
              <img src="images/img3.jpg" alt="bride" class="img-middle"/>
              <div class="align-center">
                <h4>Kids's Fashion</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                <a href="details.html" class="morebtn">More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>