<header id="head" class="secondary"></header>
		<div class="container">
			<h3 class="text-center thin"></h3>
			<div class="row examples">
				Aasha is a bubbly girl, she is very honest,cool and down to earth person who mingles with everybody very easily. But people started blaming her saying that she is very proudy, does’t care people especially elders. She felt very bad for that and cross checked with her friends. They said it is not true.

	        	She started thinking why does people blame her so?
			</div>
			<div class="row examples">
				somu is a very healthy active 23 years old guy. Now a days he started having severe headaches which lasts for hours, sometimes days. Medical reports were showing nothing and no medicine is able to give him relief.

				        What could be his problem
			</div>

			<div class="row examples">
				jaggu  is a 30 year old gentleman, settled in a good job of his own interest with a suitable pay. He is very enthusiastic to work but not able to go to office on time almost everyday.

			    What making him delay?
			</div>

			<div class="row examples">
			        The above are the problems which we see within us or our neibhours or colleagues or friends. But do not know how to solve. So we give reasons and justify our actions.
			</div>
			<div class="row examples">
			         Today let us think in a new perspective:

				is it the non verbal cues(posture and the tone of voice) which Aasha is giving to the elders when speaking? Which making them feel so?
			</div>

			<div class="row examples">
				Is it the stress caused by unconcious burden which is Somu having about his family or work? Which is causing him headache?
			</div>
			<div class="row examples">
				Is it the work environment i.e bullying colleagues or boss is what effecting jaggu??
		         These are the just few examples which tells there is a need for us to identify the cause of our problem.
	         </div>
		</div>
	



