<header id="head" class="secondary"></header>
	<div class="container">
		<div class="row">
			<aside class="col-md-4 sidebar sidebar-left">

				<div class="row widget">
					<div class="col-xs-12">
						<h4>Rates & Insurance</h4>
						<p>Service rates vary based on the type of service requested.  Rates are charged per unit with each unit being a 45-minute session.</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>Rates </h4>
						<p><img src="app/assets/images/1.jpg" alt=""></p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>Insurance</h4>
						<p><img src="app/assets/images/2.jpg" alt=""></p>
						<p>Services may be covered in full or in part by your health insurance or employee benefit plan. We accept the following insurance plans:</p>
					</div>
				</div>

			</aside>
			<article class="col-md-8 maincontent">
				<header class="page-header">
					<h2 class="page-title">Rates & Insurance</h2>
				</header>
				<h3>Rates</h3>
				<p>Reduced fee services are available on a limited basis. </p>

				<h3>Insurance</h3>
				<p>Services may be covered in full or in part by your health insurance or employee benefit plan. We accept the following insurance plans:</p>
				<p>Medicare
Blue Cross/Blue Shield
United Healthcare
United Behavioral Health
Aetna
Cigna
Multiplan
ComPsych</p>

				<h3>Payment </h3>
				<p>Cash, check and all major credit cards accepted for payment.</p>

				<h3>Cancellation Policy </h3>
				<p>If you do not show up for your scheduled appointment, and you have not notified us at least 24 hours in advance, you will be required to pay a late cancellation fee.</p>

				<h3>Schedule Online </h3>
				<p>Request a therapy appointment online <a href="#">here.</a></p>

				<h3>Contact</h3>
				<p>Questions? Please for further information.</p>
			</article>
		</div>
	</div>