<div class="row col-sm-6 col-sm-offset-3">
	<div class="jumbotron">
		<h1>Register</h1>
		<form ng-submit="register.register()">
			<!-- USERNAME INPUT -->
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" placeholder="test@gmail.com" ng-model="register.registerData.username">
			</div>
			<!-- PASSWORD INPUT -->
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" placeholder="******" ng-model="register.registerData.password">
			</div>
			<div class="alert alert-success" ng-if="register.success">
				{{ register.success }}
			</div>
			<div class="alert alert-danger" ng-if="register.error">
				{{ register.error }}
			</div>
			<!-- REGISTER BUTTON -->			
			<button type="submit" class="btn btn-block btn-primary">
				<span>Register</span>
			</button>
		</form>
	</div>
</div>